@model MCBA_Web_App.Models.BillPay

<h2>Details</h2>

<div>
    <h4>BillPay</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PayeeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PayeeID)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleTimeUtc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScheduleTimeUtc)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Period)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Period)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.BillPayID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
